<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuanbaogo.homevideo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />

    <application android:requestLegacyExternalStorage="true">
        <activity
            android:name=".mine.view.PreviewPictureActivity"
            android:exported="true" />
        <activity
            android:name=".shortvideo.play.ShortVideoPlayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".live.personal.EndingStoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.view.MineActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />

        <service
            android:name="com.tencent.qalsdk.service.QalService"
            android:exported="false"
            android:process=":QALSERVICE" /> <!-- 消息收发辅助service -->
        <service
            android:name="com.tencent.qalsdk.service.QalAssistService"
            android:exported="false"
            android:process=":QALSERVICE" /> <!-- 离线消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.QALBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.qalsdk.broadcast.qal" />
            </intent-filter>
        </receiver> <!-- 系统消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.core.NetConnInfoCenter"
            android:process=":QALSERVICE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <!--
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.union.mymm.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path" />
        </provider>
        -->
        <!--
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.yuanbaogo.homevideo.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
        -->
        <activity
            android:name="com.tencent.rtmp.video.TXScreenCapture$TXScreenCaptureAssistantActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".live.auth.view.PersonalAuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".live.push.view.PushMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".live.pull.view.PullMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".bringgoods.view.BringGoodsActivity" />
    </application>

</manifest>